html {
    /*background: #131f33;*/
    background: #13294B;
    margin-left: -1em;
    margin-right: -1em;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    /*background: #C9AA88;*/
    /*background: #fa6300;*/
    background: white;
    height: 55em;
}

.mainBody {
    overflow-y: scroll;
    overflow-x: hidden;
}

.buttonGrid {
    /*background-color: #131f33;*/
    background-color: #13294B;
    text-align: center;
    width: 100%;
}

.topButtons {
    border: 2px white solid;
    border-radius: 16px;
    /*background-color: #fa6300;*/
    background-color: #E84A27;
    color: white;
    font-size: 20px;
    font-family: Georgia, serif;
    padding: 0.7em 1.5em;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    float: left;
    margin-left: 1em;
    margin-bottom: 0.5em;
    width: 8.5%;
    text-align: center;
}

.topButtons:hover {
    border: 2px gray solid;
    background-color: black;
    color: white;
    position: relative;
    white-space: nowrap;
}

.title {
    color: #13294B;
    font-size: 30px;
    font-family: Roboto, serif;
    position: relative;
    white-space: nowrap;
    width: 100%;
    text-align: center;

}

.row {
    display: flex;
    flex-direction: row;
}

iframe {
    text-align: center;
    width: 85%;
    height: 45em;
    border: none;
}

.iframeHolder {
    text-align: center;
    height: 45em;
    width: 101%;
    justify-content: center;
    align-items: center;
    /*border-top: .4em #fa6300 ridge;*/
    /*border-bottom: .4em #fa6300 groove;*/
    border-top: .4em #E84A27 ridge;
    padding-bottom: 5.6em;
}

.footer {
    border-top: .4em #E84A27 ridge;
    display: flex;
    position: absolute;
    bottom: -0.8em;
    width: 101%;
    color: #E84A27;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
}

.credit {
    font-family: Roboto, serif;
}

img {
    margin-top: 2em;
    border: 8px #E84A27 ridge;
    width: 45em;
}

.description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    padding: 3em;
    background: #13294B;
    border: 8px #E84A27 ridge;
    color: white;
}

.githubLink {
    color: #E84A27;
}

.githubLink:hover {
    color: pink;
}

.home {
    height: 100%;
}